---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout
  title="About"
  description="Learn more about Ari Khan, a technology and innovation enthusiast passionate about software development, 3D modelling, robotics, and more."
  canonical="https://ari-khan.com/about"
>
  <main>
    <div>
      <h1 class="header">About</h1>
    </div>

    <div class="aboutcontainer">
      <img src="/images/profile/portrait.webp" class="circular-image" alt="Ari Khan" />
      <p class="abouttext">
        My name is Ari Khan, and I'm a technology and innovation enthusiast who loves bringing ideas to life.
        I enjoy developing software, programming, 3D modelling, and robotics. While not working on technology,
        I spend my time playing the piano, playing soccer, or staying on top of my investment portfolio.
        I am a goal-oriented individual who enjoys finding innovative, modern solutions to develop new tools
        and services for people worldwide.
        <br><br>
        As we look to the future, my goal is to develop innovative projects to assist users, whether it be for
        engineering, finance, or entertainment purposes.
      </p>
    </div>
  </main>
</BaseLayout>
