@font-face { 
	font-family:Poppins;
	font-display:block;
	src:url(/assets/fonts/poppins/Poppins-Medium-Subset.woff2) format('woff2');
	font-weight:400;
}
@font-face { 
	font-family:Poppins;
	font-display:block;
	src:url(/assets/fonts/poppins/Poppins-Bold-Subset.woff2) format('woff2');
	font-weight:600;
}
@font-face { 
	font-family:Foldit;
	font-display:block;
	src:url(/assets/fonts/foldit/Foldit-VariableFont_wght.woff2) format('woff2');
	font-weight:650;
}
body,html { 
	margin:0;
	overflow-x:hidden;
	font-family:Poppins,sans-serif;
}
main {
	margin-top:90px;
}
main.home-page,
main.projects-page {
	margin-top:0;
}
a { 
	text-decoration:none;
	color:inherit;
}
button,
input,
select,
textarea {
	font-family: inherit;
}
::-webkit-scrollbar { 
	width:0.75vw;
	height:0.75vh;
}
::-webkit-scrollbar-thumb { 
	background:#ccc;
	border-radius:6px;
}
::-webkit-scrollbar-thumb:hover { 
	background:#aaa;
}
::-webkit-scrollbar-track { 
	background:#eee;
}

input[type=email] { 
	width:100%;
	padding:15px;
	margin:10px 0;
	border:1px solid #ccc;
	border-radius:5px;
	box-sizing:border-box;
	font-size:16px
}
button { 
	background-color:#fad700;
	color:#fff;
	padding:15px;
	width:100%;
	font-size:18px;
	border:none;
	border-radius:5px;
	cursor:pointer;
	font-weight:700;
	transition:background-color .3s
}
button:hover { 
	background-color:#d2aa00
}
@keyframes spin { 
	0%{transform:rotate(0)}
	100%{transform:rotate(360deg)}
}
@keyframes slide-in-from-right { 
	0%{right:-50%}
	100%{right:70px}
}
@keyframes slide-in-from-left { 
	0%{left:-50%}
	100%{left:40px}
}
@keyframes slide-in { 
	from{
		transform:translateX(-140%);
		opacity:0
	}
	to{
		transform:translateX(calc(max(30%,50px)));
		opacity:1
	}
}
@keyframes slide-in-legal { 
	from{
		transform:translateX(-100px);
		opacity:0
	}
	to{
		transform:translateX(0);
		opacity:1
	}
}
@keyframes slide-in-legallist { 
	from{
		transform:translateX(-100px);
		opacity:0
	}
	to{
		transform:translateX(0);
		opacity:1
	}
}
@media (orientation:portrait){
	.text-box{width:75%}
	.outer-box{width:75%}
	.input-box{width:75%}
	.image-outer-box{width:75%}
}
