nav{
	position:fixed;
	top:10px;
	left:50%;
	transform:translateX(-50%);
	width:90vw;
	height: 60px;
	background:#fff;
	border:3px solid #ccc;
	border-radius:9999px;
	z-index:3;
	box-sizing:border-box;
}
nav ul{
	list-style:none;
	margin:0;
	padding:0;
	display:flex;
	justify-content:left
}
nav ul li a{
	display:block;
	color:#000;
	padding:13px 50px 14px;
	font-size:20px;
	opacity:.8;
	font-family:Poppins,sans-serif
}
nav ul li a:hover{
	text-shadow: 0 0 1px currentColor;
}
footer{
	background-color:#1973fa;
	color:#fff;
	font-family:Poppins,sans-serif;
	text-align:center;
	padding-top:5px;
	padding-bottom:.1px
}
footer p{
	max-width:80%;
	margin-left:auto;
	margin-right:auto
}
.footer-container{
	display:flex;
	justify-content:center;
	width:100%
}
.main-content{
	display:flex;
	align-items:center;
	gap:20px;
	align-items:flex-start;
	flex-wrap:wrap
}
.container{
	display:flex;
	flex-direction:column;
	padding:20px;
	background:#fff;
	box-shadow:0 0 10px rgba(0,0,0,.2);
	border-radius:10px;
	max-width:400px
}
.aboutcontainer{
	display:flex;
	align-items:center;
	gap:15px;
	margin-bottom:40px
}
.logo-container{
	background-color:#fff;
	padding:50px;
	border-radius:12px;
	box-shadow:0 4px 8px rgba(0,0,0,.4);
	margin:20px auto;
	width:32.55%;
	text-align:center
}
.projects-container{
	background-color:#313338;
	padding-top:1px;
	padding-bottom:40px;
	text-align:center;
	width:100%;
	position:relative;
	overflow:hidden
}
.projects-container-ai{
	background-color:#ff33a8;
	padding-top:1px;
	padding-bottom:40px;
	text-align:center;
	width:100%;
	position:relative;
	overflow:hidden
}
.projects-container-website{
	background-color:#ff5733;
	padding-top:1px;
	padding-bottom:40px;
	text-align:center;
	width:100%;
	position:relative;
	overflow:hidden
}
.projects-container-trunalyze{
	background-color:#1973fa;
	padding-top:1px;
	padding-bottom:40px;
	text-align:center;
	width:100%;
	position:relative;
	overflow:hidden
}
.projects-container-python{
	background-color:#33ff57;
	padding-top:1px;
	padding-bottom:40px;
	text-align:center;
	width:100%;
	position:relative;
	overflow:hidden
}
.disclaimer-container{
	background-color:#33ff57;
	padding-top:1px;
	padding-bottom:40px;
	text-align:center;
	width:100%;
	position:relative;
	overflow:hidden
}
.image-container{
	width:100%;
	height:83vh;
	display:flex;
	position:relative
}
.image-container img{
	width:100%;
	height:100%;
	display:block;
	object-fit:cover
}
.text-overlay{
	position:absolute;
	top:50%;
	left:25%;
	transform:translate(-50%,-50%);
	text-align:left;
	pointer-events:none
}
.scrolling-gallery{
	display:flex;
	width:auto;
	overflow:hidden;
	align-items:center
}
.gallery-content,.gallery-content2{
	display:flex;
	width:auto;
	animation:scroll-gallery 35s linear infinite;
	align-items:center
}
.gallery-content img,.gallery-content video,.gallery-content2 img,.gallery-content2 video{
	height:calc(min(60vw,300px));
	width:auto;
	margin-right:10px;
	object-fit:cover;
	flex-shrink:0
}
.outer-box{
	font-family:Poppins,sans-serif;
	width:50%;
	height:57%;
	margin:auto;
	text-align:center;
	border:3px solid #000;
	border-radius:20px;
	padding:10px;
	margin-bottom:20px;
	display:flex;
	position:relative;
	flex-direction:column
}
.image-outer-box{
	font-family:Poppins,sans-serif;
	width:50%;
	height:75%;
	margin:auto;
	text-align:center;
	border:3px solid #000;
	border-radius:20px;
	padding:10px;
	margin-bottom:20px;
	display:flex;
	flex-direction:column
}
.image-box{
	font-family:Poppins,sans-serif;
	flex-grow:1;
	width:96%;
	margin:auto;
	overflow-y:hidden;
	overflow-x:hidden;
	border-radius:20px;
	padding-top:10px;
	background-color:#fff
}
.scroll-box{
	font-family:Poppins,sans-serif;
	flex-grow:1;
	width:94%;
	margin:auto;
	overflow-y:auto;
	padding:10px;
	border-radius:20px;
	background-color:#fff
}
.spinner-container{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100%;
	width:100%
}
.links-grid{
	display:grid;
	grid-template-columns:repeat(3,auto);
	gap:20px 150px;
	text-align:left;
	margin:auto;
	list-style-type:none;
	padding:0 auto;
	margin-left:-25px
}
.links-grid li a{
	font-size:18px;
	color:#fff;
	text-decoration:none;
	color:inherit;
	position:relative
}
.links-grid li a::after{
	content:"";
	position:absolute;
	bottom:-1px;
	left:0;
	width:0;
	height:3px;
	background-color:#fff;
	transition:width .3s ease-in-out
}
.links-grid li a:hover::after{
	width:100%
}
.links-container{
	display:flex;
	justify-content:flex-start;
	gap:20px;
	margin-left:210px
}
.links-container2{
	display:flex;
	justify-content:flex-end;
	gap:20px;
	margin-right:190px
}
.blog-list{
	margin-top: 0px;
}
.blog-entry{
	padding-left:10%;
	border-left:15px solid #ff5733;
	margin-bottom:2.5rem;
	border-bottom:1px solid #ccc;
	padding-bottom:1.5rem
}
.blog-entry h2 a{
	position:relative;
	color:#333;
	text-decoration:none
}
.blog-entry h2 a::after{
	content:"";
	position:absolute;
	left:0;
	bottom:-3px;
	width:0;
	height:3px;
	background-color:#333;
	transition:width .5s ease
}
.article-container{
	padding-bottom:40px
}
.article-header{
	font-family:Poppins,sans-serif;
	font-size:42px;
	font-weight:500;
	text-align:center;
	max-width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px
}
.article-meta{
	font-family:Poppins,sans-serif;
	font-size:16px;
	font-weight:500;
	text-align:center;
	max-width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px
}
.article-body{
	font-family:Poppins,sans-serif;
	font-size:18px;
	font-weight:500;
	text-align:left;
	max-width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
	line-height:2
}
.mailcontainer{
	background:#fff;
	padding:20px;
	border-radius:8px;
	box-shadow:0 0 10px rgba(0,0,0,.2);
	text-align:center;
	max-width:50%;
	box-sizing:border-box;
	margin:auto;
	padding-bottom:50px
}
.legalbody{
	padding-bottom:65px
}
