/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

*::-webkit-scrollbar {
    width: 0.75vw;
    height: 0.75vh;
}

*::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
}

*::-webkit-scrollbar-track {
    background: #eeeeee;
}

/* Navigation Bar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 5px solid rgb(25, 100, 250);
    text-align: center;
    z-index: 3;
    overflow-x: auto; 
    padding-left: 10.3vw;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}

nav ul li a {
    display: block;
    color: #000000;
    padding: 24px 50px 18px;
    font-size: 24px;
    opacity: 0.8;
    font-family: 'Poppins', sans-serif;
}

nav ul li a:hover {
    color: rgb(250, 215, 0);
}

/* Logo Styles */
.logo,
.bottom-logo {
    font-family: 'Foldit', sans-serif;
    font-size: 42px;
    opacity: 0.8;
    text-align: center;
}

.logo {
    padding: 15px 10vw 0px 50px;
    white-space: nowrap;
}

.bottom-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    line-height: 1;
}

.bottom-logo:hover {
    text-decoration: underline;
    text-decoration-color: rgb(25, 100, 250);
}

/* Logo Container */
.logo-container {
    background-color: #fff;
    padding: 30px;
    padding-left: 50px;
    padding-bottom: 50px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin: 20px auto;
    width: 32.55%;
    text-align: center;
}

.header {
    font-family: "Poppins", sans-serif;
    font-size: clamp(32px, 8vw, 42px);
    font-weight: 500;
    text-align: center;
}

.aiheader {
    font-family: "Poppins", sans-serif;
    font-size: 42px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0px;
}

.middlesubheader {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.text-box {
    font-family: "Poppins", sans-serif;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 3px solid #000;
    border-radius: 10px;
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    height: 25px;
    line-height: 1.5;
    resize: none;
    overflow-y: auto;
}

.outer-box {
    font-family: "Poppins", sans-serif;
    width: 50%;
    height: 50%;
    margin: auto;
    text-align: center;
    border: 3px solid #000;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.scroll-box {
    font-family: "Poppins", sans-serif;
    flex-grow: 1;
    width: 95%;
    margin: auto;
    overflow-y: auto;
    padding: 10px;
    background-color: #ffffff;
}

.input-box {
    font-family: "Poppins", sans-serif;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 3px solid #000;
    border-radius: 10px;
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    height: 25px;
    line-height: 1.5;
    resize: none;
    overflow-y: auto;
}

.image-outer-box {
    font-family: "Poppins", sans-serif;
    width: 50%;
    height: 75%;
    margin: auto;
    text-align: center;
    border: 3px solid #000;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.image-box {
    font-family: "Poppins", sans-serif;
    flex-grow: 1;
    width: 95%;
    margin: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 10px;
    background-color: #ffffff;
}

.spinner-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100%; /* Ensures the container takes up full height */
    width: 100%; /* Ensures the container takes up full width */
}

.spinner {
    border: 16px solid #efefef; /* Light gray background */
    border-top: 16px solid #1964FA; /* Blue color for the spinner */
    border-radius: 100%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite; /* Animation for spinning effect */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.scroll-box::-webkit-scrollbar {
    width: 6px;
    height: auto;
}

.scroll-box::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 6px;
}

.scroll-box::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
}

.scroll-box p {
    width: auto;
    display: inline;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.75;
}

.kingbotheader {
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 64px;
    font-weight: 500;
    text-align: left;
    padding-left: 210px;
}

.kingbotitalicheader {
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin-top: -30px;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    padding-left: 210px;
}

.kingbottext {
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    padding-left: 210px;
    max-width: 500px;
}

.sliding-image {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    animation: slideIn 1.5s ease-in-out forwards;
}

.sliding-image-ai {
    position: absolute;
    width: 40%;
    border-radius: 20px;
    top: 50%;
    transform: translateY(-40%);
    animation: slideIn 1.5s ease-in-out forwards;
}

@keyframes slideIn {
    0% {
        right: -50%;
    }
    100% {
        right: 70px;
    }
}

.sliding-image2 {
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
    animation: slideIn2 1.5s ease-in-out forwards;
    width: 40%;
    border-radius: 20px;
    height: auto;
}

@keyframes slideIn2 {
    0% {
        left: -50%; 
    }
    100% {
        left: 40px;
    }
}


.subheader {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 500;
    text-align: left;
    padding-left: 150px;
}

.subsubheader {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    padding-left: 150px;
}

.legal {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    padding-left: 150px;
    max-width: 1300px;
}

.legal {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    padding-left: 150px;
    max-width: 1300px;
    opacity: 0;
    animation: slide-in-legal 1.5s forwards;
}

.legallist {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    padding-left: 200px;
    max-width: 1200px;
    opacity: 0;
    animation: slide-in-legallist 1.75s forwards;
}

@keyframes slide-in-legal {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-legallist {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.hover-underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}

.hover-underline:hover::after {
    width: 100%;
}

.foreword {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 2;
    text-align: left;
    padding-left: 10%;
    max-width: 80%;
}

/* Divider Line */
.thin-line {
    height: 1px;
    background-color: #ccc;
    margin: 10px auto;
    width: 80%;
}

/* Image and Video Containers */
.image-container {
    max-width: 100%;
    max-height: 72%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.shadow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    pointer-events: none;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: left;
    pointer-events: none;
}

.slide-in-text,
.slide-in-text-small {
    font-family: "Poppins", sans-serif;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    opacity: 0;
}

.slide-in-text {
    font-size: clamp(40px, 8vw, 80px);
    animation: slide-in 2s forwards;
    margin-top: 4px;
}

.slide-in-text-small {
    font-size: clamp(28px, 6vw, 56px);
    animation: slide-in 1.75s forwards;
}

@keyframes slide-in {
    from {
        transform: translateX(-140%);
        opacity: 0;
    }
    to {
        transform: translateX(calc(max(30%, 50px)));
        opacity: 1;
    }
}

/* Scrolling Gallery */
.scrolling-gallery {
    display: flex;
    height: 300px;
    width: auto;
    overflow: hidden;
    align-items: center;
}

.gallery-content,
.gallery-content2 {
    display: flex;
    height: 300px;
    width: auto;
    animation: scroll-gallery 35s linear infinite;
    align-items: center;
}

.gallery-content img,
.gallery-content video,
.gallery-content2 img,
.gallery-content2 video {
    height: 300px;
    width: auto;
    margin-right: 10px;
    object-fit: cover;
    flex-shrink: 0;
}

@keyframes scroll-gallery {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Footer */
footer {
    background-color: rgb(25, 115, 250);
    color: #fff;
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 5px 0;
}

.footer-container {
    display: flex;
    padding: 10px;
}

.links-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px 150px;
    text-align: left;
    margin: auto;
    list-style-type: none;
    margin-left: -25px;
}

.links-grid ul {
    padding: 0;
    margin: 0;
}

.links-grid li a {
    font-size: 18px;
    color: #fff;
}

.links-grid li a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.links-grid li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}

.links-grid li a:hover::after {
    width: 100%;
}


.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 400px;
    margin-left: 100px;
    width: 100%;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    color: #333;
}

input[type="email"] {
    width: 100%;
    padding: 15px;
    font-family: "Poppins", sans-serif;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: rgb(250, 215, 0);
    color: white;
    padding: 15px;
    width: 100%;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(210, 170, 0);
}

#message {
    color: #33FF57;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    margin-top: 15px;
}

.main-content {
    display: flex;
    align-items: center;
    gap: 20px;
}
  
.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 400px;
}
  
#fade-text {
    margin: auto;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 48px;
    opacity: 0;
    transition: opacity 1s ease;
    display: inline-block;
    white-space: nowrap;
}

.circular-image {
    border-radius: 50%; 
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-left: 100px;
    margin-right: 100px;
}

.aboutcontainer {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

.abouttext {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin: 0;
    line-height: 2;
    flex: 1;
    max-width: 52vw;
    word-wrap: break-word;
}

.topspacer {
    height: 80px;
    margin: 0;
    padding: 0;
}

.spacer {
    height: 60px;
    margin: 0;
    padding: 0;
}

.smallspacer {
    height: 20px;
    margin: 0;
    padding: 0;
}

.projects-container {
    background-color: #313338;
    padding-top: 1px;
    padding-bottom: 40px;
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.projects-container-ai {
    background-color: #FF33A8;
    padding-top: 1px;
    padding-bottom: 40px;
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.projects-container-website {
    background-color: #FF5733;
    padding-top: 1px;
    padding-bottom: 40px;
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.disclaimer-container {
    background-color: #33FF57;
    padding-top: 1px;
    padding-bottom: 40px;
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.disclaimer {
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    padding-left: 210px;
    max-width: 1250px;
}

.disclaimer-header {
    font-family: "Poppins", sans-serif;
    color: #fff;
    padding-top: 20px;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    padding-left: 210px;
}

.arikhan {
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 64px;
    font-weight: 500;
    text-align: right;
    padding-right: 210px;
}

.arikhanheader {
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin-top: -30px;
    font-size: 24px;
    font-weight: 500;
    text-align: right;
    padding-right: 210px;
}

.arikhantext {
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    margin-right: 210px;
    margin-left: 750px;
}

.links-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-left: 210px;
}

.links-container2 {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-left: 1140px;
}

.hover-underline-link {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.hover-underline-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

.hover-underline-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
