---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout
  title="Contact"
  description="Contact information and support details for Ari Khan."
  canonical="https://ari-khan.com/contact"
>
  <main>
    <section>
      <h1 class="header">Contact</h1>
    </section>

    <div class="aboutcontainer">
      <img src="/images/profile/gumballs.webp" class="circular-image" alt="Contact" />
      <p class="abouttext">
        Need support? Email me at
        <a href="mailto:support@ari-khan.com" class="hover-underline-link-black">
          <b>support@ari-khan.com</b>
        </a>!
        <br />
        Issues with the site?
        <a href="https://github.com/Ari-Khan/ari-khan.com/issues" class="hover-underline-link-black">
          Report it here!
        </a>
      </p>
    </div>
  </main>
</BaseLayout>
